/* Styles for FOOTER - Start */

  .copyright {
  margin-top:10px;
  text-align:center;
  font: size 20px;
  color:white;
  margin-bottom: 10px;
  }

  .socials {
  text-align:center;
  padding-bottom:25px;
  }

  .socials > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
  }

  .socials > a:hover {
  opacity:0.9;
  }

/* Styles for FOOTER - End */


/* Styles for CAROUSEL - Start */

.carousel-item{
  width: auto;
  max-height: 500px;
}
/* Styles for CAROUSEL - End */



 /* Styles for GRID - Start */

 .image-grid {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.grid-image {
  /* images display inline by default and act like text. We want them to act like divs, so display block */
  display: block;
  /* our width setting for mobile, one image per line */
  flex-basis: 30%;
  /* provide some space between our images */
  padding: 20px;
  /* ensure padding doesn't cause images to wrap, it should be within the width rather than in addition */
  box-sizing: border-box;
  margin: auto;
}


.imageContainer {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.imageContainer .imageText {
  text-align:center;
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
}

/* Styles for GRID - End */